
html {
  box-sizing: border-box;
}
body {
  /* background-color:CadetBlue; */
}
h1 {
  color:ForestGreen;
  font-weight:bold;
}
h2 {
  color:black;
}
p {
  color:black;
}

div {
  padding: 10px;
  margin: 3px;
}
.content {
  margin-left:20%;
  margin-right:auto;
}
.profile-image {
  border-radius:30%;
  width:150px;
  padding:10px;
  float:right;
  /* margin-left:auto; */
}
.highlight {
  color:yellow;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.navigation {
  position: relative;
  top: 10;
  left: 10;
  height: auto;


}

.navigation > ul > li {
  position: relative;
  display: inline-block;
  list-style: none;
  padding-right:15px;
  padding-bottom:15px;

}
.navigation > ul > li > a {
  color:ForestGreen;
}
.navigation >ul > li > ul > li > a {
  color:ForestGreen;
}

/* .navigation .submenu {
  position: absolute;
  top: 1em;
  right: 0;
}
/
.navigation a:hover + .dropdown {
  display: inline-block;
}
.navigation.submenu a:hover {

  display: inline-block;
} */


.dropdown > a {
    color: ForestGreen;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  /* padding:16px; */
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 100;
}
.dropdown-content a {
  color:ForestGreen;
}


.dropdown:hover .dropdown-content {
    display: block;

}
/* .dropdown-content:hover {
  display: inline;
} */
.navigation > ul.container {
  //these styles will extend the styles already contained in the .container class
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.social > ul > li {
  display:inline;
}
/*  target font awesome social icons */
.social > ul > li > a > i {
  font-size: 1.5em;
  color:ForestGreen;
  padding-right: 10px;
}
.description > ol {
  margin-left:1em;
}
.description > ol > li {
  list-style:decimal;
}
#page-header {
  padding-top:40%;
  padding-bottom:40%;
  font-size:10em;
  font-weight:lighter;

}
