
html {
  box-sizing: border-box;
}
body {
  background-color:CadetBlue;
}
h1 {
  color:black;
}
h2 {
  color:black;
}
p {
  color:black;
}
#navigation li{
  display:inline;
}

a {
  color:purple
}
/* style to add red line */
/* * {
border: 1px solid red;
} */
div {
  padding: 10px;
}
div {
  margin: 30px;
}
.highlight{
  color:yellow;
}
.container{
  max-width: 960px;
  margin: 0 auto;
  
#media1 {
  color: yellow
}


.navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  width: 100vw;
}

.navigation > ul > li {
  position: relative;
  display: inline;
  list-style: none;
}

.navigation .dropdown {
  position: absolute;
  top: 1em;
  right: 0;
  display: none;
}

.navigation a:hover + .dropdown {
  display: block;
}

.navigation > ul.container {
  //these styles will extend the styles already contained in the .container class
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}


}
